.sec-1{
    background-image: linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)),url(building.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    border-radius: 20px;
    margin-bottom: 10px;
}
.sec-2{
    background-color: rgba(255,255,255,0.45);
    backdrop-filter: contrast(150%);
    border-radius: 20px;
    margin-bottom: 10px;
}
.sec-3{
    border-radius: 20px;
}
.navbar-nav .nav-link{
    font-size: 20px;
    font-weight: bold;
    color: black !important;
}
.nav-link:hover{
    color: rgb(49, 133, 133) !important;
    text-decoration: underline;
}
.card-img-top{
    border-top-left-radius: 50px;
}
.card:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
.my-textarea{
    height: 150px;
    width: 100%;
}
a{
    text-decoration: none;color: black;
}